*{
	background-color:  #E7F27E;
}
#gameContainer{
	background-color:#C2678B;
	margin:3%;
	padding: 3%;
}
#title{
	padding: 10px;
	width: 60%;
	background-color: #67C29E;
	text-align: center;
	font-family: Avenir;
	font-size: 30px;
	
	margin-left:auto;
	margin-right: auto;
	border-radius: 5px;


}

#play{
	padding: 10px;
	width: 20%;
	background-color: #67C29E;
	text-align: center;
	font-family: Avenir;
	font-size: 30px;
	margin-top: 60px;
	margin-left:auto;
	margin-right: auto;
	border-radius: 5px;

}
#instructions{
	padding: 10px;
	width: 40%;
	background-color: #7E80F2;
	text-align: center;
	font-family: Avenir;
	font-size: 20px;
	margin-top: 60px;
	margin-left:auto;
	margin-right: auto;
	border-radius: 5px;
	line-height: 120%;

}
#quote{
	padding: 10px;
	width: 60%;
	background-color: #7E80F2;
	text-align: center;
	font-family: Avenir;
	font-size: 20px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 5px;
	border-radius: 5px;
	line-height: 120%;
	display: none;
}

#ladiesContainer{
	margin-top: 1%;
	display: none;
	text-align: center;
	background-color: #C2678B;


}
.ladies{
	display: inline-block;
	
	background-color: #C2678B;
}


#answer{
	padding: 10px;
	width: 30%;
	background-color: #7E80F2;
	text-align: center;
	font-family: Avenir;
	font-size: 20px;
	display: inline-block;
	float:right;
	margin-right: 20%;
	border-radius: 5px;
	line-height: 120%;
	display: none;
}
#next{
	display: none;
	padding: 10px;
	width: 20%;
	background-color: #67C29E;
	text-align: center;
	font-family: Avenir;
	font-size: 30px;
	margin-top: 5%;
	margin-left:auto;
	margin-right: auto;
	border-radius: 5px;}