*{
	background-color: #FA3986;
}
#title{
	padding: 10px;
	width: 60%;
	background-color: #28F774;
	text-align: center;
	font-family: Avenir;
	font-size: 30px;
	margin-top: 5%;
	margin-left:auto;
	margin-right: auto;
	border-radius: 5px;


}
#play{
	padding: 10px;
	width: 20%;
	background-color: #28F774;
	text-align: center;
	font-family: Avenir;
	font-size: 30px;
	margin-top: 60px;
	margin-left:auto;
	margin-right: auto;
	border-radius: 5px;
	display: none;
}
#instructions{
	padding: 10px;
	width: 40%;
	background-color: #2CE7F5;
	text-align: center;
	font-family: Avenir;
	font-size: 20px;
	margin-top: 60px;
	margin-left:auto;
	margin-right: auto;
	border-radius: 5px;
	line-height: 120%;
	display: none;
}
#quote{
	padding: 10px;
	width: 40%;
	background-color: #2CE7F5;
	text-align: center;
	font-family: Avenir;
	font-size: 20px;
	margin-top: 60px;
	margin-left:auto;
	margin-right: auto;
	border-radius: 5px;
	line-height: 120%;
}

#ladiesContainer{
	margin-top: 50px;
	margin-left:auto;
	margin-right: auto;

}
.ladies{
	background-size: 175px Auto;
	background-repeat:no-repeat;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin-left: 10%;
}

#lady1{
	background-image: url('../images/Juana.jpg');
	display: none;
}
#lady2{
	background-image: url('../images/Grace.jpg');
	display: none;
}
#lady3{
	background-image: url('../images/Zora.jpg');
	display: none;
}
#lady4{
	background-image: url('../images/Emma.jpg');
}
#answer{
	padding: 10px;
	width: 40%;
	background-color: #F5F52C;
	text-align: center;
	font-family: Avenir;
	font-size: 20px;
	display: inline-block;
	margin-left: 15%;
	border-radius: 5px;
	line-height: 120%;
}
#next{
	padding: 10px;
	width: 20%;
	background-color: #28F774;
	text-align: center;
	font-family: Avenir;
	font-size: 30px;
	margin-top: 5%;
	margin-left:auto;
	margin-right: auto;
	border-radius: 5px;}